
.logotipo {
  margin-left:-60px;
  padding-left: -80px;
  width:100%;
  height: auto;
}

nav {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
  margin-right: -15px;
}

header {
  display:flex;
  justify-content: space-around;
}

h1.titulo {
  margin-top: -40px;
  margin-left: -90px;
  margin-bottom: -10px;
  font-family: 'Licorice', cursive;
  font-size:50px;
  text-decoration: none;

}

.links {
    margin-top: 100px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: rgb(4, 4, 161);
    margin-bottom: 35px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
  
}
.carrito {
  width:30px;
}

.contador {
  border-color:gray;
  border-radius:20px;
  border-style: solid;
  background-color: #3483fa;
  color:#fff;
  font-size:12px;
  margin-left: 10px;
  margin-top: 200px;
  padding: 5px; 
}

h5.colorPrecio {
  color:#229acd;
}

h5.unidadesDisponibles {
  font-size:14px;
}

h5.descripcion {
font-size:16px;
}
a:link { text-decoration:none; } a:visited { text-decoration:none; }

.textoinicial {
  margin:120px;
  padding:60px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color:blue
}

/* article {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f2f2f2;
  text-align: center;
} */

.btnSuma {
  margin:5px;
  border:none;
    font-size: 24px;
    color: #3483fa;
    
}

.btnResta{
  margin:5px;
  border:none;
    font-size: 24px;
    font-style: bold;
    color: #3483fa;
}

.btnAddCarrito {
  margin:5px;
  border:none;
    font-size: 18px;
    color: #3483fa;
}

.btnItemDelete {
    color: #3483fa;
    cursor: pointer;
    padding-left: 20px;
    padding-bottom: 20px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    outline: 0!important;
    width: auto;
    font-size: 16px;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

h5.productosCart {
  margin-bottom: 20px;
  margin-left:5px;
  padding-left:30px;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 width: 100%;
}
.detalleCarrito {
  font-size: 20px;
  font-weight: 600;
  color:black;
  -webkit-font-smoothing: antialiased;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    line-height: 1.35;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    text-transform: capitalize;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
h3{
    margin: 1em;
    text-align: center;
}
h4 {
  margin: 1em;
  text-align: center;
}
div.contador {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-flow: column;
}
p.qty {
 color: #3483fa;
}
.itemDetail{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
}

.contenedorItemDetail{
  border-style: solid;
  border-color: #3483fa;
  border-radius: 50px;
  margin:25px;
  padding:25px;
}

.fuenteItemDetail {
  font-size: 16px;
}
.item:hover {
  transform: translateY(-15px);
  box-shadow: 0,12px,16px rgba(0,0,0,0.2);
}



.intro {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'The Nautigal', cursive;
    font-size: 65px;
    font-weight: 400;
} 


.item{
  display: inline-block;
  width:250px;
  height:100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4em;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
  justify-content: center;
  }



.btn-verProducto {
  background-color: rgba(65,137,230,.15);
  border-color: transparent;
  color: #3483fa;
  text-decoration: none;
  box-sizing: border-box;
  display: grid;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 6px;
  align-items: center; 
}

.btn-agregarCarrito {
  margin:10px;
  padding:10px;
  border-radius: 6px;
  display: inline-block;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
}

.titulos {
  margin-bottom: 80px;
  padding:10px;
  text-align: center;
  font-family:  'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.btn-endCompra {
  margin:10px;
  margin-bottom: 30px;
  padding:10px;
  border-radius: 6px;
  display: inline-block;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #fa343e;
  border-color: transparent;
  color: #fff;
}

.btnDeleteAll {
  margin:10px;
  padding:10px;
  border-radius: 6px;
  display: flex;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  justify-content: center;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  margin-left: 45%;
  margin-right: 42%
}


.marca {
  display: flex;
  margin: 10px;
  padding:10px;
  text-align: center;
  font-family:  'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.contenedorMarcas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
}

.itemCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}

.carritoVacio {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.lineaCarrito {
  font-family: 'Roboto Condensed', sans-serif;
  margin:20px;
}

.btnRestaCarrito {
  margin-left:30px;
  margin-right:10px;
  border:none;
    font-size: 24px;
    font-style: bold;
    color: #3483fa;
}

.footerCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}

.btnDeleteAllCarrito {
  border-radius: 6px;
  display: flex;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  justify-content: center;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
}

.precioCompra {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.auth1 {
  text-align: center;
  margin:10px;
  padding:10px;
}

.auth2 {
  text-align: center;
  margin:10px;
  padding:10px;
}

.auth3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
  }

  .auth4 {
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
  }
  
  .userLogeed{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  .ingresoClientes {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .registro {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .btnUserNew {
    margin-left:10px;
    position: relative;
    top: -4px;
  }

  .userLogeed2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:blue;
    text-align: center;
    margin-bottom: 20px;
  }

.btn-volverAProductos {
  margin:10px;
  padding:10px;
  border-radius: 6px;
  display: inline-block;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #1d8808;
  border-color: transparent;
  color: #fff;
}

.btn-volverAProductos2{
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding:10px;
  border-radius: 6px;
  display: block;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #1d8808;
  border-color: transparent;
  color: #fff;
}
.userLoggedPic {
  border-radius:50%;
  width: 3%;
  height: auto;
  margin-left: 10px;
}

.imgFooter {
  margin-top:50px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contFormCompra {
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalleFormulario {
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloFormulario {
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonFinal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -60px;
}